*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Georgia", serif;
}


body{

    background:
    linear-gradient(180deg,#12071f,#241040,#3b176b);

    color:white;

    min-height:100vh;

    overflow-x:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}



/* Galaxy stars */

.stars{

    position:fixed;

    inset:0;

    background-image:
    radial-gradient(white 1px, transparent 1px);

    background-size:45px 45px;

    opacity:.25;

    animation:starsMove 40s linear infinite;

}


@keyframes starsMove{

from{
    transform:translateY(0);
}

to{
    transform:translateY(250px);
}

}



/* Main game box */

.container{

    position:relative;

    z-index:5;

    width:90%;

    max-width:750px;

    padding:35px;

    animation:appear 1s ease;

}



@keyframes appear{

from{

    opacity:0;

    transform:translateY(30px);

}

to{

    opacity:1;

    transform:translateY(0);

}

}




h1{

    font-size:3rem;

    margin-bottom:25px;

    text-shadow:

    0 0 10px #d8a4ff,

    0 0 25px #b86dff;

}



h2{

    margin-bottom:15px;

}



.heart{

    font-size:3rem;

    animation:pulse 2s infinite;

}


@keyframes pulse{

50%{

transform:scale(1.2);

}

}




.text{

    font-size:1.2rem;

    line-height:1.8;

    margin:15px 0;

}




button{

    margin-top:35px;

    padding:18px 50px;

    border:none;

    border-radius:50px;

    background:#9b6cff;

    color:white;

    font-size:1.1rem;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 0 20px #b86dff;

}



button:hover{

    transform:scale(1.1);

    background:#b784ff;

}





/* Gift cards */

.gift{

    background:#ffffff18;

    border:1px solid #d19aff;

    border-radius:25px;

    padding:25px;

    margin:20px 0;

    cursor:pointer;

    transition:.4s;

    backdrop-filter:blur(5px);

}


.gift:hover{

    transform:translateY(-8px) scale(1.03);

    box-shadow:0 0 30px #c084fc;

}





/* Floating hearts */


.floating{

    position:fixed;

    font-size:35px;

    animation:float 6s infinite;

    z-index:2;

}


.hearts{

    left:15%;

    bottom:-50px;

}


.hearts.two{

    left:75%;

    animation-delay:2s;

}


.hearts.three{

    left:45%;

    animation-delay:4s;

}



@keyframes float{

0%{

transform:translateY(0);

opacity:0;

}


50%{

opacity:1;

}


100%{

transform:translateY(-900px);

opacity:0;

}

}





/* Cute pets */


.pet{

    position:fixed;

    font-size:70px;

    z-index:3;

    animation:bounce 3s infinite;

}


.cat{

    bottom:40px;

    left:40px;

}


.dog{

    bottom:40px;

    right:40px;

    animation-delay:1s;

}



@keyframes bounce{

50%{

transform:translateY(-20px);

}

}





/* Mobile */

@media(max-width:600px){


h1{

font-size:2rem;

}


.text{

font-size:1rem;

}


.pet{

font-size:45px;

}


}
