*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Georgia,serif;
}


body{

min-height:100vh;

overflow:hidden;

background:
linear-gradient(
180deg,
#080014,
#251047,
#61208c
);

color:white;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}





/* Galaxy */

.stars{

position:fixed;

inset:0;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:45px 45px;

opacity:.3;

animation:spaceMove 35s linear infinite;

}



@keyframes spaceMove{

from{

transform:translateY(0);

}

to{

transform:translateY(300px);

}

}





/* Shooting star */


.shooting-star{

position:fixed;

width:150px;

height:2px;

background:white;

top:20%;

left:-200px;

animation:shoot 8s infinite;

}



@keyframes shoot{


0%{

left:-200px;

}


50%{

left:100%;

}


100%{

left:100%;

}

}







/* HUD */


.hud{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

background:#ffffff20;

padding:12px 25px;

border-radius:30px;

backdrop-filter:blur(10px);

display:flex;

gap:30px;

z-index:10;

}







/* Game */


#game{

width:90%;

max-width:800px;

position:relative;

z-index:5;

}





.scene{

display:none;

animation:enter .8s ease;

}



.scene.active{

display:block;

}





@keyframes enter{

from{

opacity:0;

transform:scale(.8);

}


to{

opacity:1;

transform:scale(1);

}

}









h1{

font-size:3rem;

margin-bottom:25px;

text-shadow:
0 0 15px #e9d5ff,
0 0 35px #c084fc;

}



p{

font-size:1.2rem;

line-height:1.8;

}






.subtitle{

font-size:1.5rem;

animation:glow 2s infinite;

}




@keyframes glow{

50%{

text-shadow:0 0 25px #f0abfc;

}

}







button{

margin-top:35px;

padding:18px 50px;

border:none;

border-radius:50px;

background:#a855f7;

color:white;

font-size:1.1rem;

cursor:pointer;

box-shadow:
0 0 30px #c084fc;

transition:.3s;

}



button:hover{

transform:scale(1.1);

}








/* Floating particles */


.particles span{

position:fixed;

bottom:-50px;

font-size:35px;

animation:float 8s infinite;

}



.particles span:nth-child(1){

left:10%;

}


.particles span:nth-child(2){

left:30%;

animation-delay:2s;

}


.particles span:nth-child(3){

left:60%;

animation-delay:4s;

}


.particles span:nth-child(4){

left:80%;

animation-delay:1s;

}


.particles span:nth-child(5){

left:50%;

animation-delay:5s;

}




@keyframes float{

0%{

transform:translateY(0);

opacity:0;

}


40%{

opacity:1;

}


100%{

transform:translateY(-900px);

opacity:0;

}

}









/* Cat */

.character{

font-size:90px;

animation:bounce 2s infinite;

}



@keyframes bounce{

50%{

transform:translateY(-20px);

}

}









/* Envelope */


.envelope{

font-size:100px;

cursor:pointer;

animation:pulse 2s infinite;

}




@keyframes pulse{

50%{

transform:scale(1.2);

}

}





.hiddenBox{

display:none;

background:#ffffff15;

padding:30px;

border-radius:25px;

border:1px solid #e9d5ff;

margin-top:20px;

}





.show{

display:block;

animation:enter .8s;

}









/* Red string */


.string-animation{

font-size:40px;

color:#ff5c8a;

animation:stringGlow 2s infinite;

}



@keyframes stringGlow{

50%{

filter:drop-shadow(0 0 20px pink);

}

}








/* Heart Garden */


#garden{

margin-top:30px;

}



.heart{

display:inline-flex;

justify-content:center;

align-items:center;

width:70px;

height:70px;

background:#ec4899;

border-radius:50%;

margin:10px;

font-size:30px;

cursor:pointer;

animation:heartBounce 2s infinite;

}



@keyframes heartBounce{

50%{

transform:translateY(-15px);

}

}







#reasonBox{

margin-top:20px;

background:#ffffff15;

padding:20px;

border-radius:20px;

}







/* Music */


.music{

font-size:90px;

animation:pulse 2s infinite;

}







/* Gifts */


.giftBox{

font-size:80px;

display:inline-block;

margin:20px;

cursor:pointer;

animation:bounce 2s infinite;

}



.giftBox:hover{

transform:scale(1.2);

}





/* Pets */


.pets{

font-size:100px;

animation:bounce 2s infinite;

}







.fireworks{

font-size:40px;

margin-top:30px;

animation:pulse 2s infinite;

}





@media(max-width:600px){


h1{

font-size:2rem;

}


p{

font-size:1rem;

}


.giftBox{

font-size:60px;

}


}
